.type-nav {
  & .type-link {
    display: block;
    padding: 8px 10px;
    text-align: left;
    color: var(--white);

    &:hover {
      background-color: var(--mid-gray);
      color: var(--white);
    }

    &.active {
      background-color: var(--blue);
    }
  }

  & .search-types {
    position: sticky;
    top: 0;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--dark-gray);
    background-color: var(--near-black);
  }
}
