.pokemon-list {
  background-color: var(--center-col-header-bg);
  color: var(--near-white);
  height: var(--center-scrollable-height);
  overflow-x: hidden;
  overflow-y: auto;

  @media (max-width: 950px) {
    height: calc(var(--center-scrollable-height) - var(--app-header-height));
  }
}
