.favorite-item {
  color: var(--near-white);
  border-bottom: 1px solid var(--black-20);
  &:last-child {
    border-bottom: 0;
  }
  & .remover {
    color: var(--red)  
  }
  & .memo-icon {
    color: var(--white)  
  }
  &:hover,
  &:focus {
    background-color: var(--navy);
  }
}
