.header-grid-1 {
  background-color: var(--nav-area-header-bg);
  border-bottom: 1px solid var(--nav-area-header-bg);
}

.header-grid-2 {
  color: var(--near-white);
  background-color: var(--content-area-header-bg);
  border-bottom: 1px solid var(--gray);
  &.borderless {
    border-bottom: 0;
  }
}

.header-grid-3 {
  background-color: var(--favorite-area-header-bg);
  border-bottom: 1px solid var(--favorite-area-header-bg);
}

