body {
  margin: 0;
  background-color: var(--near-black);
  overflow: hidden;
}

#root {
  & .app-header {
    display: grid;
    grid-template-columns: var(--left-grid-col) 1fr var(--right-grid-col);
    height: 50px;
    background-color: var(--near-white);
    @media (max-width: 950px) {
      height: 100px;
      grid-template-columns: 1fr;
      grid-template-rows: 50px 50px;
      & .header-grid-3 {
        display: none;
      }
    }
  }

  & .app-main {
    display: grid;
    height: 100vh;
    grid-template-columns: var(--left-grid-col) 1fr var(--right-grid-col);
    grid-template-rows: auto 1fr;
    transition: all 0.1s ease-in-out;
    & .nav-area {
      display: grid;
      grid-template-rows: 65px 1fr;
      overflow: hidden;
      background-color: var(--nav-area-items-bg);
      padding-bottom: 15px;
    }
    & .content-area {
      background-color: var(--content-area-items-bg);
      overflow: hidden;
    }
    & .favorite-area {
      grid-column: 0;
      overflow: hidden;
      padding-bottom: 15px;
    }

    @media (max-width: 950px) {
      /* Do amazing responsive things here! */
      grid-template-rows: 2fr;
      grid-template-columns: 0 1fr 0;
      & .content-area {
        grid-column: auto / span 2;
      }
      & .favorite-area {
        display: none;
      }
      & .nav-area {
        display: none;
      }
    }
  }
}
