body {
  margin: 0;
  background-color: var(--near-white);
  overflow: hidden;
}

.app-header {
  height: 25px;
  padding: 25px;
  background-color: var(--near-white);
  border-bottom: 1px solid var(--moon-gray);
}

.app-main {
  display: grid;
  padding-bottom: 25px;
  height: calc(100vh - 25px);
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto 1fr auto;
  & .items {
    grid-row: 1 / 4;
    background-color: var(--near-black);
    overflow-y: auto;
    text-align: center;
    color: var(--near-white);
    padding-bottom: 15px;
    overflow-y: scroll;
  }
  & .details {
    background-color: var(--white);
    padding: 0 1em;
    overflow-y: scroll;
  }
}

.header {
  background-color: var(--white);
  color: #333;
  border-bottom: 1px solid var(--near-white);
}
